<div class="mx-auto col-11">
  <div class="d-flex col-12">
        <%= cl_image_tag @paint.photo.key, crop: :fill, class: "mx-auto paint-show-img" %>
  </div>

  <div class="d-flex mt-4 justify-content-around row">
    <div class="col-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5">
      <div class="mb-4">
        <h1 class="mb-0"> <%= @paint.name %></h1>
        <h3><i><%= @paint.artist %></h3></i>

        <hr>

        <div class="rounded d-flex mt-4">
          <div class="d-flex avatar-large" style="font-size: 28px;">
            <% if @paint.user.photo.key %>
              <%= cl_image_tag @paint.user.photo.key, class: 'avatar-large', crop: :thumb, gravity: :face %>
            <% else %>
              <i class="fa-solid fa-user m-auto" style="color: #777777"></i>
            <% end %>
          </div>
          <div class="mx-2">
            <h4 class="m-0"> <%= "#{@paint.user[:first_name]} #{@paint.user[:last_name]}" %> </h4>
            <h5 class="m-0">Galeriste depuis le <%= @paint.user[:created_at].strftime("%d/%m/%Y") %></h5>
          </div>
        </div>

        <hr>

        <div class="d-block mt-4">
          <div class="d-block mb-4">
            <h4>Mouvement</h4>
            <h5><%= @paint.movement %></h5>
          </div>
          <div class="d-block mb-4">
            <h4>Année</h4>
            <h5><%= @paint.year %></h5>
          </div>
          <div class="d-block mb-4">
            <h4>Technique</h4>
            <h5><%= @paint.technique %></h5>
          </div>
          <div class="d-block mb-4">
            <h4>Description</h4>
            <h5><%= @paint.description %></h5>
          </div>

          <%# le current_user peut destroy la paint si elle lui appartient %>
          <div>
            <% if @paint.user == current_user %>
              <%= link_to "Supprimer", paint_path(@paint),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10 col-md-5 col-lg-5 col-xl-4 col-xxl-3 mt-5">
      <% if @paint.user == current_user %>
        <%= render 'form' %>
      <% else %>
        <%= render 'bookings/booking_form' %>
      <% end %>
    </div>
  </div>
</div>
