<div class="card rounded p-4 bg-white">
  <%= simple_form_for [@paint, @booking] do |f| %>
    <div class="d-flex justify-content-center">
      <h5><%= @paint.price %>€ par jour</h5>
    </div>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column w-50 justify-content-center">
        <%= f.button :submit, 'Réserver', class: 'btn btn-primary' %>
        <p class="text-center pt-4"><%= @paint.price %> * </p>
        <p class="text-center">Frais d'envoi</p>
      </div>
    </div>
      <div>
        <hr/ class="w-100">
      </div>
        <div class="d-flex justify-content-between">
          <div>
          <p>Total</p>
          </div>
          <div>
          à faire
          </div>
        </div>
    </div>
  <% end %>
</div>
