<div class="card rounded p-4 bg-white" data-controller="booking-form">
  <%= simple_form_for [@paint, @booking] do |f| %>

    <%# Prix par jour %>
    <div class="d-flex justify-content-center">
      <h5><span data-booking-form-target="paintPrice"><%= @paint.price %></span>€ par jour</h5>
    </div>

    <%# Formulaire des dates %>
    <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker",
                                  action: "input->booking-form#price",
                                  booking_form_target: "startForm" } } %>
    <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker",
                                  action: "input->booking-form#price",
                                  booking_form_target: "endForm" } } %>

    <%# Bouton réserver %>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, 'Réserver', class: 'btn btn-primary w-100' %>
    </div>

    <%# Calcul du prix par jours grace a javascript %>
    <div class="d-flex justify-content-between mt-3">
      <p><%= @paint.price %>€ * <span data-booking-form-target="numberOfDays"></span> jours</p>
      <p><span data-booking-form-target="priceResult"></span>€</p>
    </div>

    <%# Reduction %>
    <div class="d-flex justify-content-between d-none" data-booking-form-target="priceReductionDiv">
      <p>Réduction location longue durée</p>
      <p class="text-success">-<span data-booking-form-target="priceReduction"></span>€</p>
    </div>

    <%# Frais d'envoi %>
    <div class="d-flex justify-content-between">
      <p>Frais d'envoi</p>
      <p>200€</p>
    </div>

    <hr>

    <%# Prix total %>
    <div class="d-flex justify-content-between">
      <p>Total</p>
      <p><span data-booking-form-target="priceTotal"></span>€</p>
    </div>

    <%# Fait passer le prix total dans @booking.total_price grace a JS%>
    <div class="d-none">
      <%= f.input :total_price, input_html: { data: { booking_form_target: "priceValue" } } %>
    </div>
  <% end %>
</div>
