<div class="card rounded p-4 bg-white">
  <%= simple_form_for [@paint, @booking] do |f| %>

    <%# Prix par jour %>
    <div class="d-flex justify-content-center">
      <h5><span id="paint-price"><%= @paint.price %></span>€ par jour</h5>
    </div>

    <%# Formulaire des dates %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>


    <%# Bouton réserver %>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, 'Réserver', class: 'btn btn-primary w-100' %>
    </div>

    <%# Calcul du prix par jours grace a javascript %>
    <div class="d-flex justify-content-between mt-3">
      <p><%= @paint.price %>€ * <span id="number-of-days"></span> jours</p>
      <p><span id="price-result"></span>€</p>
    </div>

    <%# Reduction %>
    <div class="d-flex justify-content-between d-none" id="price-reduction-div">
      <p>Réduction location longue durée</p>
      <p class="text-success">-<span id="price-reduction"></span>€</p>
    </div>

    <%# Frais d'envoi %>
    <div class="d-flex justify-content-between">
      <p>Frais d'envoi</p>
      <p>200€</p>
    </div>

    <hr>

    <%# Prix total %>
    <div class="d-flex justify-content-between">
      <p>Total</p>
      <p><span id="price-total"></span>€</p>
    </div>

    <%# Fait passer le prix total dans @booking.total_price grace a JS%>
    <div class="d-none">
      <%= f.input :total_price, input_html: {id: 'price_value'} %>
    </div>
  <% end %>
</div>
