<!DOCTYPE html>
<html>
  <head>
    <title>RbnbPaints</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
  <%= render "shared/navbar" %>
  <div class="border-bottom fixed-top bg-light-subtle py-2 search-bar-mobile">
    <%= render "shared/search_bar" %>
  </div>
  <%= render "shared/flashes" %>
  <div class="body-responsive">
    <%= yield %>
  </div>

  <%= render "shared/navbar_mobile" %>
  </body>
</html>
